@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("http://fonts.googleapis.com/css?family=Roboto");

html {
  font-family: Roboto;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 100px;
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.main-bg {
  background: url("./assets/bg.png");
  background-size: cover;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}